.done
  text-decoration-line line-through 
  text-decoration-style solid

.notDone

.toDoText
  font-size 20px
  flex-direction row
  justify-content center
  align-items center
  margin-left 5px
  
.toDoTextX
  padding-top 5px
  font-size 10px
  margin-left 6px
  
.textInput
  border solid 2px blue
  text-align center
  width 300px
  font-size 20px

.root 
  align-items center