.container
    flex 1
    align-items stretch

.header
    background-color #4097CF
    color white
    font-size 40px
    text-align center
    padding 15px
@media screen and (max-width: 560px)
  .header
    height 60px
    justify-content flex-end
  .headerText
    opacity 0
    
    