.main
    align-items center
    flex-direction row
    justify-content: center
    margin 5px
    padding 3px


.taskInput
    border solid 2px blue
    text-align center
    width 500 px
    height 33px
    margin-right -3px
.counter
    align-items center
    justify-content center
    margin 15px
    
@media screen and (max-width: 560px)
  .taskInput
    width 290px

    

    

